{% extends "base.html" %}
{% block content %}
    <h1 class="special" style="color: brown;">Hello, World!</h1>
    <p>Welcome to my first HTML page.</p>
    <p>My name is {{name}} {{lname}}</p>
    <ul>
        {% for item in list %}
        <li 
        {% if item == "somu" %} style="color: brown;" {% endif %}
        >
            {{item}}
        </li>
        {% endfor %}
    </ul>
    <img src="/Car.png" alt="Text"/><br>
    <p class="special">Hello </p>

    <a href="#" class="btn btn-danger">Danger Button</a>
    <a href="#" class="btn btn-primary">Primary Button</a>
    <br>
    <br>

    <p class="special">{{message}}</p>

    <a href = "{{url_for("setData")}}">Set Session Data</a><br>
    <a href = "{{url_for("getData")}}">Get Session Data</a>
{% endblock %}
